.category{
	float: left;
	border: solid 1px red;
}

.links {
	width: 15%;
}

.content {
	width: 65%;
}

.categories{
	text-align: center;
}

.categories:after{
	content: ".";
	visibility: hidden;
	display: block;
}

.categories > li {
	float: left;
	margin-left: 10px;
}

a:visited {
	color: blue;
}

a:hover {
	color: red;
}

.arts {
	margin-left: 30px;
}

#indexDiv {
	text-align: center;
}